body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html.dark body {
  background-color: #1a202c;
  color: #e2e8f0; 
}

html.dark nav {
  background-color: #2d3748;
}

html.dark nav a, html.dark h1 {
  color: #e2e8f0; 
}

html.dark .card {
  background-color: #2d3748;
  color: #e2e8f0; 
}

body,
nav,
.card {
  transition: background-color 0.3s ease, color 0.3s ease;
}